.resume {
  padding-left: 4rem;
  margin: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  font-family: 'Hind', sans-serif;
}
.resume-name-tag{
    width: 3rem;
    height: 3rem;
    background-color: rgb(90, 241, 153);
    font-weight: 800;
    text-align:center;
    letter-spacing: .1rem;
}
.resume-skills{
    width: 40vw;
}

/* colours */
h2 {
  color: #333333;
}
.greyed-text {
  color: #888888;
}
h3 {
  color: #555555;
}
p{
    color: #000;
}

/* SKILL TAG */
.skill-tag {
    display: flex;
    justify-content:space-around
}
.skill-tag p{
    width: 100%;
    background-color:#DFE9E4;
    margin: 8px;
    padding: 5px;
    text-align:center;
    flex-wrap: wrap;
    border-radius: 4px;

}
.resume-download{
  display: block;
  color: #fff;
  appearance: none;
  border: 1px solid rgb(255, 255, 255);
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
  width: 180px;
  font-weight: 800;
  background-color:#535ef5;
}
.download-resume{
  position: absolute;
  right: 10px;
  top:0;
}