.navbar{
    height:70px;
    width:100%;
    background-color:rgb(117, 0, 252);



}
.navbar p{
   color: #fff;
    font-size: 22px;
    /* font-weight: 700; */
    text-align: left;
    padding: 20px;
    margin: 0;
    font-weight: 900;
    letter-spacing: .2px;

}